<template name="header">
  <div class="ui borderless topmenu menu">
    <a class="fitted item" href="index.html">
      <i class="home icon"></i>
      HOME
    </a>
    &ensp;
    <!--&ensp;<a class="fitted item" href="{{pathFor 'budget'}}">-->
    <!--<i class="alternate money bill icon"></i>-->
    <!--MY BUDGET-->
  <!--</a>-->
    &ensp;
    <a class="fitted item" href="faq.html">
      <i class="question circle icon"></i>
      SUPPORT
    </a>
    &ensp;
    <a class="right fitted item">
      <i class="user icon"></i>
      SIGN IN
    </a>
    &emsp;
    <a class="fitted item">
      <i class="user plus icon"></i>
      SIGN UP
    </a>
  </div>
</template>