<template name="Footer">
  <!-- footer -->
  <div class="footer">
    <div class="ui centered grid">
    </div>
    <div class="fifteen wide column">
      <a target="_blank" class="item" href="https://facebook.com">
        <i class="large inverted facebook f icon"></i>
      </a>
      |
      <a target="_blank" class="item" href="https://twitter.com">
        <i class="large inverted twitter icon"></i>
      </a>
      |
      <a target="_blank" class="item" href="https://instagram.com">
        <i class="large inverted instagram icon"></i>
      </a>
      |
      <a target="_blank" class="item" href="https://github.com/JulianKeller/webapp320">
        <i class="large inverted github icon"></i>
      </a>
    </div>
    <div class="fifteen wide column links">
      <a target="_blank" class="item" href="{{pathFor 'Faq_Page'}}">SUPPORT</a>
      <a target="_blank" class="item" href="https://tumblr.com">BLOG</a>
      <a target="_blank" class="item" href="https://vancouver.wsu.edu">PARTNERS</a><br>
    </div>
    <div class="fifteen wide column copyright">
      COPYRIGHT &copy; 2018 CASH FLOW INC.&ensp;ALL RIGHTS RESERVED.
    </div>
  </div>
</template>
