
/*written by Julian Keller*/
/*CS 320 - Webapp Mockup*/


/* Top Menu Bar */
.ui.borderless.topmenu.menu {
  background-color: #F4F6F5;
  box-shadow: none;
  border: none;
  padding: 0px 35px 0px 35px;
}

/* Welcome Header */
.ui.header{
  padding-top: 50px;
}

/* Budget */
.ui.budget.container {
  width: 75%;
  /*text-align: left;*/
}

.ui.centered.grid {
  text-align: center;
}

.ui.green.button {
  float: left;
}


/* Footer Color Block*/
.center-block {
  background-color: white;
  padding-bottom: 50px;
  /*color: #F0F0F0;*/
}

/* Footer Color Block*/
.footer {
  background-color: #292929;
  padding-bottom: 50px;
  color: #F0F0F0;
}

/* Footer Grids*/
.ui[class*="three column"].grid>.column:not(.row), .ui[class*="three column"].grid>.row>.column {
  width: 33.33333333%;
  padding: 55px 20px 30px 20px;
  text-align: left;
}
.ui[class*="one column"].grid>.column:not(.row), .ui[class*="one column"].grid>.row>.column {
  padding: 10px 20px 20px 20px;
}

/* Center grid items */
.ui.container.colorblocktop {
  text-align: center;
  padding: 15px 15px 15px 15px;
  width: 70%;
}

.ui.card>.content>.description, .ui.cards>.card>.content>.description {
  text-align: center;
}

.ui.attached.color.button:hover{
background-color: #008800;
color: white;
}

.ui.attached.color.button{
  background-color: #089208;
  color: white;
}

.ui.add.button{
  background-color: red;
  color: white;
}

/* Footer Social Media Icons */
.bottom-icon {
  color: #F4F6F5;
  padding: 15px 15px 15px 15px;
}

/* Footer dividers */
.ui.divider {
  background-color: #F4F6F5;
}

a {
  color: white;
}

a:hover {
  color: whitesmoke;
}


.topmenu.menu{
  box-shadow: none;
  border: none;
  background-color: #F7F7F9;
  padding-left: 50px;
  padding-right: 50px;
}

.centered.placeholder{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer{
  background-color: #292929;
  padding-top: 50px;
  padding-bottom: 50px;
}
.wide.column{
  color: #EAEAEA;
  text-align: left;
  font-weight: bold;
}
.ui.divider:not(.vertical):not(.horizontal) {
  border-top: 1px solid rgba(34,36,38,.15);
  border-bottom: 2px solid rgb(234, 234, 234);
}
.massive.menu{
  padding-left: 325px;
  background-color: #292929;
}
.fifteen.wide.column{
  text-align: center;
}

.login{
  color: #EAEAEA;
}

.item{
  padding-left: 5px;
  padding-right: 5px;
  color: #EAEAEA;
}
.links{
  padding-top: 25px;
  font-size: 11px;
}

.copyright{
  padding-top: 25px;
  font-size: 11px;
}

a:hover {
  color: whitesmoke;
}