<template name="Footer">
  <!-- footer -->
  <div class="footer">
    <div class="ui centered grid">
      <div class="login">
        <a class="item">SIGN IN</a> | <a class="item">SIGN UP</a>
      </div>
      <div class="fifteen wide column">
        <div class="ui divider"></div>
      </div>
    </div>
    <div class="fifteen wide column">
      <a class="item">
        <i class="large inverted facebook f icon"></i>
      </a>
      |
      <a class="item">
        <i class="large inverted twitter icon"></i>
      </a>
      |
      <a class="item">
        <i class="large inverted instagram icon"></i>
      </a>
      |
      <a class="item">
        <i class="large inverted rss icon"></i>
      </a>
      |
      <a class="item">MEDIA INQUIRIES</a>
    </div>
    <div class="fifteen wide column links">
      <a class="item">ABOUT US/OUR MISSION</a>
      <a class="item" href="faq.html">SUPPORT</a> <a class="item">BLOG</a>
      <a class="item">PARTNERS</a><br>
      <a class="item">Terms of Service</a>
      <a class="item">Privacy Policy</a>
      <a class="item">Legal</a>
      <a class="item">Sitemap</a>
    </div>
    <div class="fifteen wide column copyright">
      COPYRIGHT &copy; 2018 BUDGETING APP INC.&ensp;ALL RIGHTS RESERVED.
    </div>
  </div>
</template>
