<template name="Header">
  <!--<img id="banner" class="ui fluid image" src="/images/beach-banner.jpg">-->
  <!-- Main Menu -->
  <div class="ui teal borderless inverted menu">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}">Home</a>
      <!-- If user is logged in -->
      {{#if currentUser}}
        <a class="{{ isActiveRoute 'Budget_Page'}} item" href="{{ pathFor 'Budget_Page' }}">Budget</a>
        <a class="{{ isActiveRoute 'Faq_Page'}} item" href="{{ pathFor 'Faq_Page' }}">FAQ</a>
      {{else}}
        <!--<a class="item" href="{{pathFor 'Budget_Page'}}"><h1>Friends</h1></a>-->
      {{/if}}
      <a href="#" class="right aligned item">{{> loginButtons align="right"}}</a>
    </div>
  </div>
</template>
