<template name="Header">
  <!-- topmenu -->
  <div class="ui borderless topmenu menu">
    <a class="fitted item" href="{{pathFor 'Home_Page'}}">
      <i class="home icon"></i>
      HOME
    </a>
    &ensp;<a class="fitted item" href="{{pathFor 'Budget_Page'}}">
    <i class="alternate money bill icon"></i>
    MY BUDGET
  </a>
    <a class="fitted item" href="{{pathFor 'Faq_Page'}}">
      <i class="question circle icon"></i>
      SUPPORT
    </a>
    <a id="signIn" href="#" class="right aligned item">{{> loginButtons align="right"}}</a>
  </div>
</template>
