
/*written by Julian Keller*/
/*CS 320 - Webapp Mockup*/


/* Top Menu Bar */
.ui.borderless.topmenu.menu {
  background-color: #F4F6F5;
  box-shadow: none;
  border: none;
  padding: 0px 35px 0px 35px;
}

/* Welcome Header */
.ui.header{
  padding-top: 50px;
}

/* Budget */
.ui.budget.container {
  width: 75%;
  /*text-align: left;*/
}

.ui.centered.grid {
  text-align: center;
}

.ui.green.button {
  float: left;
}


/* Footer Color Block*/
.center-block {
  background-color: white;
  padding-bottom: 50px;
  /*color: #F0F0F0;*/
}

/* Footer Color Block*/
.footer {
  background-color: #292929;
  padding-bottom: 50px;
  color: #F0F0F0;
}

/* Footer Grids*/
.ui[class*="three column"].grid>.column:not(.row), .ui[class*="three column"].grid>.row>.column {
  width: 33.33333333%;
  padding: 55px 20px 30px 20px;
  text-align: left;
}
.ui[class*="one column"].grid>.column:not(.row), .ui[class*="one column"].grid>.row>.column {
  padding: 10px 20px 20px 20px;
}

/* Center grid items */
.ui.container.colorblocktop {
  text-align: center;
  padding: 15px 15px 15px 15px;
  width: 70%;
}

.ui.borderless.segment {
  border: none;
  box-shadow: none;
}

/* Amount Button */
#AmountButton {
  float: left;
  /*width: 80px;*/
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
}

/* Top status table */
.ui.status.table {
  background: none;
  border: none;
}

/* Status Table input width*/
#input {
  width: 33%;
}

/* Green Table */
.ui.color.table thead th{
  background: #089208;
  color: white;
}

/*!* Border Table *!*/
/*.ui.border.table th{*/
  /*border: 2px solid #089208;*/
/*}*/


/* category table */
.ui.table thead th {
  /*background: #089208;*/
  /*color: whitesmoke;*/
}

/* Add Category Button */
.ui.category.button {
  float: left;
  /*background: #16B616;*/
}

/* Header title */
h1.ui.header {
  padding: 10px 10px 10px 10px;
}


.ui.card>.content>.description, .ui.cards>.card>.content>.description {
  text-align: center;
}

/* Footer Social Media Icons */
.bottom-icon {
  color: #F4F6F5;
  padding: 15px 15px 15px 15px;
}

/* Footer dividers */
.ui.divider {
  background-color: #F4F6F5;
}

a {
  color: white;
}

a:hover {
  color: whitesmoke;
}

#add {
  color: grey;
  float: right;
  padding-right: 5px;
}

#add:hover {
  color: #089208;
  float: right;
  padding-right: 5px;
}

#addColor {
  color: lightgray;
  float: right;
  padding-right: 5px;
}

#addColor:hover {
  color: whitesmoke;
  float: right;
  padding-right: 5px;
}

